@using api_core.Models.Response;
@model ProductoCategoria

@{
    ViewData["Title"] = "ProductoCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" type="text/javascript"></script>
<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="GuardarCambiosProductoCategoria" asp-controller="Home" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="Descripcion" />
                @Html.ValidationMessageFor(model => model.Descripcion)

            </div>
            <div class="mb-2">
                <label class="form-label">Categoria</label>
                <select class="form-control" asp-for="CategoriaID">
                    @foreach (var item in @ViewBag.Categoria)
                    {
                        @if (@item.CategoriaID == @ViewBag.CategoriaID)
                        {
                            <option value=@item.CategoriaID selected> @item.descripcion</option>
                        }
                        else
                        {
                            <option value=@item.CategoriaID> @item.descripcion</option>
                        }
                    }
                </select>


            </div>
            <div class="mb-2">
                <label class="form-label">Cantidad</label>
                <input type="text" class="form-control form-control-sm" asp-for="Cantidad" oninput="this.value = this.value.replace(/[^0-9]/g,'')" />
            </div>

            <div class="mb-2">
                <label class="form-label">Precio</label>
                <input type="text" class="form-control form-control-sm" asp-for="Precio" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>




    </div>

</div>

